name: Post merge deploy to production
on:
  pull_request:
    types:
      - closed
    branches:
      - main
      - master

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v6.0.0
        with:
          audience: sts.amazonaws.com
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          role-session-name: Terraform_to_AWS_via_FederatedOIDC
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:apps/bablu"
          push: true
          tags: |
            bablu:latest
            "${{ secrets.ECR_URI }}:latest"
      - name: terraform apply
        id: apply
        uses: dflook/terraform-apply@v2.0.0
        with:
          path: './apps/bablu/terraform'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}